<!DOCTYPE html>
<html>
<head>
    <title>Editar registro</title>
</head>
<body>

<h2>Editar Despacho</h2>

<form method="POST">

    Codigo
    <input type="text" name="codigo" value="{{ r.codigo }}"><br>

    Lote
    <input type="text" name="lote" value="{{ r.lote }}"><br>

    Peso Promedio
    <input type="text" name="peso" value="{{ r.peso_promedio }}"><br>

    Ubicacion
    <input type="text" name="ubicacion" value="{{ r.ubicacion }}"><br>

    Stock Inicial
    <input type="text" name="stock" value="{{ r.stock_inicial }}"><br>

    Cantidad SAP
    <input type="text" name="cantidad" value="{{ r.cantidad_sap }}"><br>

    Despacho
    <input type="text" name="despacho" value="{{ r.despacho }}"><br>

    Saldo
    <input type="text" name="saldo" value="{{ r.saldo }}"><br>

    Observaciones
    <input type="text" name="obs" value="{{ r.observaciones }}"><br><br>

    <button type="submit">Guardar cambios</button>

</form>

<br>

<a href="/">Volver</a>

</body>
</html>